<!DOCTYPE html>
<html>

  <head>
    
    <title></title>
    <meta name="description" content="{{meta_description}}" />

    
    <!-- Stylesheet -->
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
    <!-- Font Awesome Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

  </head>

  <body class="{{body_class}}">
    <div id="wrapper">
      {{{body}}}
    </div>
  </body>
</html>